<%= render partial: '/shared/header' %>

<div class="row justify-content-md-center">
  <div class="col col-lg-6">
    <form action="/carpools/search" method="get">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputFrom">From</label>
          <input type="text" class="form-control typeahead" id="inputFrom" placeholder="Kuala Lumpur, Federal Territory of Kuala Lumpur" value="<%= @from_city.fullname %>">
          <input type="hidden" id="carpool_from_city_id" name="from_city_id" />
        </div>
        <div class="form-group col-md-6">
          <label for="inputTo">To</label>
          <input type="text" class="form-control typeahead" id="inputTo" placeholder="Teluk Intan, Perak" value="<%= @to_city.fullname %>">
          <input type="hidden" id="carpool_to_city_id" name="to_city_id" />
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Search carpools</button>
    </form>
  </div>
</div>

    <% @carpools.each do |carpool| %>
      <div class="row justify-content-md-center my-4">
        <div class="card col col-lg-6">
          <div class="card-body">
            From:
            <%= carpool.from_city.fullname %>
            <br />
            To:
            <%= carpool.to_city.fullname %>
            <br />
            Created by:
            <%= carpool.user.name %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% content_for :javascript do %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.js"></script>
  <script>
    var $input = $(".typeahead");
    $input.typeahead({
      source: function(query, process) {
			  $.getJSON("/cities?query=" + query).done(function(data) {
			  	process(data);
			  });
      },
      displayText: function(item) {
        return item.fullname;
      },
      delay: 500,
      autoSelect: false
    });

    var $inputFrom = $("#inputFrom");
    $inputFrom.change(function(event) {
      var current = $inputFrom.typeahead("getActive");

      // If there is a match
      if (current) {
        if (current.fullname == event.target.value) {
          $("#carpool_from_city_id").val(current.id);
        }
      }
    });

    var $inputTo = $("#inputTo");
    $inputTo.change(function(event) {
      var current = $inputTo.typeahead("getActive");

      // If there is a match
      if (current) {
        if (current.fullname == event.target.value) {
          $("#carpool_to_city_id").val(current.id);
        }
      }
    });
  </script>
<% end %>